body {
  background-color: black;
}
.room_overview {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 10px;
}
